/*HTML*/
.body__background {
  margin: 0;
  padding: 0;
  background: url("../img/jana.jpg") fixed bottom right no-repeat;
  background-size: 30%;
  z-index: -5;
}

.site__div--popover {
  display: none;
}

.button--ghost {
  font-family: "Helvetica Neue", sans-serif;
  display: inline-block;
  text-decoration: none;
  border: 0.125em solid #eeeeee;
  height: 1.5em;
  line-height: 19px;
  color: #ffffff;
  margin: 0px auto;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1em;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: transparent;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  zoom: 1;
  -webkit-backface-visibility: hidden;
}

.button--ghost:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: gray;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  border: outset 0.2em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
}

.button--ghost:focus {
  outline: none;
}

.getty {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a7a7a7;
  font-size: 11px;
  height: auto;
  width: fit-content;
  padding: 1.5em;
  margin: 1em 2em 1em 2em;
  text-align: center;
  border-style: solid inset solid;
  border-width: 0.8em;
  border-color: red;
  margin-bottom: 10%;
}

.profile__bio {
  background-color: #d1d1e0;
  margin: 2em auto;
  color: #000;
  font-size: small;
  padding: 1.5em;
  z-index: 5;
  overflow: hidden;
}

.img__profile {
  width: 120px;
  border: 1px gray solid;
}

.img--shadow {
  box-shadow: gray 0.5px 2px 2px 2px;
  margin-top: 0px;
  margin-bottom: 3%;
}

.headline {
  margin-bottom: 2em;
  padding: 0.825em;
  text-align: center;
  z-index: 2;
  color: white;
}

.nav--counter {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  z-index: 1;
  box-shadow: #000 10px 9px 20px 2px;
}

.row__background {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 768px;
  z-index: 0;
  padding: 2rem;
  margin: 0;
  overflow: hidden;
  box-shadow: 0px -8px 11px -2px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px -8px 11px -2px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px -8px 11px -2px rgba(0, 0, 0, 0.68);
}

.row__background--landing {
  background: url('../img/keyboard.jpg') 50% 50% fixed no-repeat;
  background-size: cover !important;
}

.row__background--doc {
  background: url('../img/fish.jpg') 50% 50% fixed no-repeat;
  background-size: cover !important;
  z-index: 0;
}

.row__background--ufo {
  background: url('../img/ufo.jpg') 50% 50% fixed no-repeat;
  background-size: cover !important;
  z-index: -2;
}

.row__background--bill {
  background: url('../img/euro.jpg') 50% 50% fixed no-repeat;
  background-size: cover !important;
  z-index: -3;
}

@media all and (max-width: 576px) {

  .site__div--popover {
    top: 10%;
    left: 10%;
    display: block;
    position: fixed;
    width: 80%;
    height: 80%;
    background: rgba(106, 106, 106, 0.9);
    z-index: 999999999;
    font-family: helvetica;
    font-size: 3.5em;
    color: red;
    padding: 1.5rem;
    text-align: center;
    text-shadow: none;
  }
}