
.ghost-btn {
  font-family: "Helvetica Neue", sans-serif;
  display: inline-block;
  text-decoration: none;
  border: 1.9px solid #eeeeee;
  height: 1.5em;
  line-height: 19px;
  color: #ffffff;
  margin: 0px auto;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1em;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: transparent;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  zoom: 1;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.ghost-btn:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: gray;
  opacity:0.7;
  text-decoration: none;
  color: white;
  border: outset 0.2em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
}
.ghost-btn:focus {
  outline: none;
}


/*HTML*/
body{ 
margin:0px;
background: url("../img/jana.jpg") fixed bottom right no-repeat;
background-size: 30%;
}

#pop_over {
display: none;
}

@media only screen and (max-width: 359px) {

#pop_over {
    top: 10%;
    left: 10%;
    display: block;
    position: fixed;
    width: 80%;
    height: 90%;
    background: rgba(106, 106, 106, 0.9);
    z-index: 999999999;
    font-family: helvetica;
    font-size: 3.5em;
    color: red;
    padding: 10%;
    text-align: center;
    text-shadow: none;
}
    
}
.getty{
  background-color:#fff;
  display:inline-block;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#a7a7a7;
  font-size:11px;
  width:100%;
  height:auto;
  padding:0;margin:0;text-align:center;
  border-style: solid inset solid;
  border-width: 4px 5px 4px 5px;
  border-color: red;
  margin-bottom: 10%;
}

.bio{
    background-color: #d1d1e0;
    color: #000;
    width:85%;
    font-size: medium;
    margin-right:10%;
    margin-left: 10%;
    position:relative;
    padding: 7%;
    z-index: 5;
    overflow: hidden;
}
.profile{
    width: 50%;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 20%;
    box-shadow: yellow 0.5px 2px 2px 2px;
}

.boxshadow{
    box-shadow: gray 0.5px 2px 2px 2px;
    margin-top:0px;
    margin-bottom:3%;
}

#k2{
margin-top: 5%;
}

#headline{
    margin-top: 5%;
    padding:5%;
    min-width: 381px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    z-index: 2;
    color:white;}

#counter{
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 5px;
  text-align: center;
  background-color: #77A;
  z-index:1;
  min-width: 360px;
  min-height:40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
  padding-top:0.5%;
  box-shadow: #000 10px 9px 20px 2px;
  }


#fold{
margin-left:0;
margin-right:0;
min-width: 360px;
min-height: 768px;
background: url('../img/keyboard.jpg') 50% 75% fixed no-repeat;
background-size: cover!important;
z-index: 0;
box-shadow: #000 10px 9px 20px 2px;
}

#doc{
margin-left:0;
margin-right:0;
min-width: 360px;
min-height: 768px;
background: url('../img/fish.jpg') 50% 50% fixed no-repeat;
background-size: cover!important;
z-index: 0;
}

#end{
margin-top: 0; 
margin-left: 0; 
min-width: 360px;
min-height: 768px;
background: url('../img/euro.jpg') 50% 50% fixed no-repeat;
background-size: cover!important;
z-index: 0;
overflow: hidden;
box-shadow: #red 20px 19px 40px 10px;
}
